# Table of Contents

- [Environment](#Environment)
- [Gathering](#Gathering)
    - [Twitter Archive](#Twitter-Archive)
    - [Additional Data from Twitter API](#Additional-Data-from-Twitter-API)
    - [Image Predictions](#Image-Predictions)
- [Assessing](#Assessing)
- [Cleaning](#Cleaning)
    - [Tidiness issues](#Tidiness-issues)
        - [Combining `archive_df` and `api_df`](#Combining-archive_df-and-api_df)
        - [Combining `master_df_clean` and `images_df`](#Combining-master_df_clean-and-images_df)
        - [Dog stage info should be in a single column](#Dog-stage-info-should-be-in-a-single-column)
    - [Quality issues](#Quality-issues)
        - [Keeping just one dog breed](#Keeping-just-one-dog-breed)
        - [Removing Retweets](#Removing-Retweets)
        - [Removing tweets with more than one dog stage](#Removing-tweets-with-more-than-one-dog-stage)
        - [Fixing ratings](#Fixing-ratings)
        - [Fixing `timestamp` and `retweeted_status_timestamp` datatype](#Fixing-timestamp-and-retweeted_status_timestamp-datatype)
        - [Removing tweets from after Aug 1st, 2017](#Removing-tweets-from-after-Aug-1st,-2017)
        - [Uppercase words and underscores in dog breed names](#Uppercase-words-and-underscores-in-dog-breed-names)
        - [Invalid dog names](#Invalid-dog-names)
        - [Removing unused columns](#Removing-unused-columns)
        - [Null values](#Null-values)
- [Storing](#Storing)
- [Analysis](#Analysis)
    - [Dog breeds](#Dog-breeds)
        - [Most mentioned overall](#Most-mentioned-overall)
        - [Most liked](#Most-liked)
        - [Most retweeted](#Most-retweeted)
    - [Names](#Names)
        - [Most common](#Most-common)
        - [Most common per breed](#Most-common-per-breed)
    - [Stages](#Stages)
        - [Tweets per stage](#Tweets-per-stage)
        - [Likes per stage](#Likes-per-stage)

# Environment

In [1]:
import datetime
from datetime import date
import io
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import requests
import seaborn as sns
import tweepy

In [2]:
%matplotlib inline
sns.set_context('notebook', font_scale=1.25)

# Gathering

## Twitter Archive

This first part of our dataset comes directly from Udacity assignment. We just need to import it.

In [3]:
archive_df = pd.read_csv('./data/twitter-archive-enhanced.csv')

In [4]:
archive_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

## Additional Data from Twitter API

Credentials come from my personal Twitter account, written in a separate JSON file for safety reasons.

In [5]:
with open(os.path.join("./params/", "twitter-api-credentials.json"), "r") as config_file:
    configs = json.load(config_file)

In [6]:
auth = tweepy.OAuthHandler(configs['consumer_key'], configs['consumer_secret'])
auth.set_access_token(configs['access_token'], configs['access_token_secret'])
api = tweepy.API(auth, wait_on_rate_limit=True)

For each tweet ID found within Udacity's archive, we call Twitter API to gather favorite and retweet counts. If we don't find the tweet for whatever reason, we save its ID within a dictionary, so we have it somewhere safe, in case we need them later.

In [ ]:
failed_api_queries = {}

with open(os.path.join("./data/", "tweet_json.txt"), "w") as tweet_file:
    for tweet_id in archive_df.tweet_id.values:
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            json.dump(tweet._json, tweet_file)
            tweet_file.write("\n")
        except Exception as exc:
            failed_api_queries[tweet_id] = exc

Rate limit reached. Sleeping for: 232
Rate limit reached. Sleeping for: 561

With all the extra data gathered from the API, now we just read them into a new DataFrame.

In [ ]:
with open(os.path.join("./data/", "tweet_json.txt"), "r") as file:
    file_content = file.readlines()

In [ ]:
api_df_rows = []

for line in file_content:
    json_content = json.loads(line)
    api_df_rows.append([json_content.get('id'), json_content.get('retweet_count'), json_content.get('favorite_count')])

In [ ]:
api_df = pd.DataFrame.from_records(data=api_df_rows, columns=['tweet_id', 'retweet_count', 'favorite_count'])

In [ ]:
api_df.head()

## Image Predictions

Another dataset from Udacity assignment, but we need to get this one with a HTTP request.

In [ ]:
images_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
images_response = requests.get(images_url)
images_response

The response comes in byte format, so we decode it and use `StringIO` to make it easier to work with response content as we would with a simple file.

In [ ]:
images_df = pd.read_csv(io.StringIO(images_response.content.decode('utf-8')), sep="\t")

In [ ]:
images_df.head()

# Assessing

## Twitter Archive

### Quality
- Null values in `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`, `expanded_urls`.
- Some of the tweets are actually retweets and should be deleted, as per Udacity's request.
- Wrong datatype in `timestamp` and `retweeted_status_timestamp`.
- Invalid dog names (like "a", "the").
- Invalid rating numerators.
- Invalid rating denominators (they should always be 10).
- Some tweets may mention two dogs (how would we know which one we extract data on?).
- We need to remove tweets older than August 1st, 2017, as per another Udacity's request.
- Some columns won't be used.

### Tidiness
- Dog stages should be contained in one column, not spread across four.

In [ ]:
archive_df.head(10)

In [ ]:
archive_df.info()

In [ ]:
sum(archive_df.duplicated())

Investigating the dog names:

In [ ]:
archive_df['name'].value_counts()

In [ ]:
for tweet_text in archive_df.query("name == 'the'")['text']:
    print(tweet_text)

The standard rating system today (and a while ago) involves some score out of 10. Numerator can be greater than the denominator.

In [ ]:
archive_df['rating_numerator'].value_counts().sort_index(ascending=True)

In [ ]:
archive_df['rating_denominator'].value_counts().sort_index(ascending=True)

Now we check if there are tweets that mention more than one stage. If there are, we should just pick one, or none at all.

In [ ]:
dog_stages = ['doggo', 'pupper', 'puppo', 'floofer']
dog_stages_found = {}

for tweet in archive_df.tweet_id:
    tweet_text = archive_df.query("tweet_id == @tweet")['text'].values[0]
    dog_stages_found[tweet] = sum(stage_count > 0 for stage_count in [tweet_text.count(stage) for stage in dog_stages])

In [ ]:
more_than_1_stage = [key for key, value in dog_stages_found.items() if value > 1]

In [ ]:
for tweet in archive_df.query("tweet_id in @more_than_1_stage")['text']:
    print(tweet)

Checking up on ratings with a denominator other than 10:

In [ ]:
for tweet in archive_df.query("rating_denominator != 10")['text']:
    print(tweet, "\n")

Now checking the timespan:

In [ ]:
min(archive_df['timestamp']), max(archive_df['timestamp'])

## Additional Data from Twitter API

### Quality
- Some of the tweets were deleted since the dataset's creation, so they weren't found by the API.

### Tidiness
- This data should be part of the previous DataFrame, not a standalone dataset.

In [ ]:
api_df.head(10)

In [ ]:
api_df.info()

In [ ]:
sum(api_df.duplicated())

In [ ]:
api_df.describe()

## Image Predictions

### Quality
- Some breed names starting with uppercase.
- Breed names with words separated by underscores, instead of whitespaces.
- Non-descriptive column names.

### Tidiness
- These data should also be part of a main DataFrame.
- Since we want just the dog breed, most of the columns won't be used here.
- Dog breed could be in one of three different columns.

In [ ]:
images_df.head(10)

In [ ]:
images_df.info()

In [ ]:
sum(images_df.duplicated())

In [ ]:
images_df.describe()

In [ ]:
images_df['tweet_id'].nunique()

In [ ]:
np.sort(images_df.query('p1_dog')['p1'].unique())

# Cleaning

In [ ]:
archive_df_clean = archive_df.copy()
api_df_clean = api_df.copy()
images_df_clean = images_df.copy()

## Tidiness issues

### Combining `archive_df` and `api_df`

#### Define

We'll combine `archive_df` and `api_df` into a single DataFrame, joining them by `tweet_id` column.

By joining these datasets using "inner join", we get just the tweets contained in both of them, automatically solving the missing tweet data issue.

#### Code

In [ ]:
master_df_clean = archive_df_clean.join(api_df_clean.set_index('tweet_id'), on='tweet_id', how='inner')

#### Test

In [ ]:
master_df_clean.info()

In [ ]:
master_df_clean.head()

### Combining `master_df_clean` and `images_df`

#### Define

We'll join both DataFrames just as we've done above.

#### Code

In [ ]:
master_df_clean = master_df_clean.join(images_df_clean.set_index('tweet_id'), on='tweet_id', how='inner').reset_index(drop=True)

#### Test

In [ ]:
master_df_clean.info()

In [ ]:
master_df_clean.head()

### Dog stage info should be in a single column

#### Define

We need to use a regular expression to extract the correct stage and create a new, unified column for the stages.

For now, if there's more than one stage in a column, only the first one will be considered. We're taking a closer look on these cases later.

#### Code

In [ ]:
master_df_clean['stage'] = master_df_clean['text'].str.extract(r'(doggo|pupper|puppo|floofer)')
master_df_clean.drop(columns=['doggo', 'floofer', 'pupper', 'puppo'], inplace=True)

#### Test

In [ ]:
master_df_clean.head()

In [ ]:
master_df_clean['stage'].value_counts()

## Quality issues

### Keeping just one dog breed

#### Define
Get the first confirmed dog breed along the three predictions.

#### Code

Given the fact the columns `pred_1_is_a_dog`, `pred_2_is_a_dog` and `pred_3_is_a_dog` are Boolean, and Boolean variables can be added, we calculate the sum of "dog predictions" per tweet, and then find the first position where this count changes from 0 to 1 (meaning it's the first prediction that gave us a breed).

We get first one, because there's an ordinal relationship between these predictions (i.e. the first prediction is always the one with the highest confidence score).

In [ ]:
breed_confirmations = master_df_clean[['p1_dog', 'p2_dog', 'p3_dog']]
first_confirmation = (breed_confirmations.cumsum(axis=1) == 1).idxmax(axis=1)
first_confirmation.head()

Then we get the column index where the first identified breed is.

In [ ]:
first_confirmed_breed = [master_df_clean.columns.get_loc(item) - 2 for item in first_confirmation] # considering we have pred_1, then pred_1_confidence, then pred_1 is a dog
first_confirmed_breed[:5]

Now we finish the feature engineering process by creating a new column with the breed name.

In [ ]:
master_df_clean['breed'] = pd.Series([master_df_clean.iat[tweet, breed] for tweet, breed in zip(master_df_clean.index, first_confirmed_breed)])

And we delete the prediction columns, since we already have the information we ultimately wanted.

In [ ]:
master_df_clean.drop(columns=[
    'p1', 
    'p1_conf', 
    'p1_dog', 
    'p2', 
    'p2_conf', 
    'p2_dog',
    'p3', 
    'p3_conf', 
    'p3_dog'
], inplace=True)

#### Test

In [ ]:
master_df_clean['breed'].head()

### Removing Retweets

#### Define
Drop rows whose `retweeted_status_id` value is not null, as requested by Udacity.

#### Code

In [ ]:
master_df_clean = master_df_clean[pd.isnull(master_df_clean['retweeted_status_id'])].reset_index(drop=True)

#### Test

In [ ]:
master_df_clean.info()

### Removing tweets with more than one dog stage

#### Define
First, we count how many dog stages (from a previously defined list) are there in the tweet content.

After that, every tweet whose stage count is more than one will be dropped from the DataFrame.

#### Code

In [ ]:
dog_stages = ['doggo', 'pupper', 'puppo', 'floofer']
dog_stages_found = {}

for tt_id in master_df_clean.tweet_id:
    tweet_text = master_df_clean.query("tweet_id == @tt_id")['text'].values[0]
    dog_stages_found[tt_id] = sum(stage_count > 0 for stage_count in [tweet_text.count(stage) for stage in dog_stages])

In [ ]:
invalid_dog_stage_tweets = [key for key, value in dog_stages_found.items() if value > 1]
len(invalid_dog_stage_tweets)

In [ ]:
master_df_clean = master_df_clean[~master_df_clean['tweet_id'].isin(invalid_dog_stage_tweets)]

#### Test

In [ ]:
dog_stages_test = {}

for tweet in master_df_clean.tweet_id:
    tweet_text = master_df_clean.query("tweet_id == @tweet")['text'].values[0]
    dog_stages_test[tweet] = sum(stage_count > 0 for stage_count in [tweet_text.count(stage) for stage in dog_stages])

In [ ]:
print(len([key for key, value in dog_stages_test.items() if value > 1]))

### Fixing ratings

#### Define

Find tweets whose rating follows the "XX/10" pattern. Split this substring into two numerals, and then update `rating_numerator` and `rating_denominator`.

If the tweet doesn't conform to this pattern, it'll be dropped.

#### Code

In [ ]:
for tt_id, tweet_text in zip(master_df_clean.tweet_id, master_df_clean.text):
    rating_found = re.search(r'[0-9]+\.*[0-9]*\/10', tweet_text)
    if rating_found is not None:
        correct_num, correct_den = rating_found.group().split('/')
        tweet_index = master_df_clean.index[master_df_clean['tweet_id'] == tt_id]
        master_df_clean.at[tweet_index, 'rating_numerator'] = correct_num
        master_df_clean.at[tweet_index, 'rating_denominator'] = correct_den
    else:
        master_df_clean = master_df_clean[master_df_clean['tweet_id'] != tt_id].copy()

#### Test

In [ ]:
master_df_clean.rating_numerator.value_counts()

In [ ]:
master_df_clean.rating_denominator.value_counts()

### Fixing `timestamp` and `retweeted_status_timestamp` datatype

#### Define
Convert these columns from **object** to **datetime64**.

#### Code

In [ ]:
master_df_clean['timestamp'] = pd.to_datetime(master_df_clean['timestamp'], format="%Y-%m-%d")
master_df_clean['retweeted_status_timestamp'] = pd.to_datetime(master_df_clean['retweeted_status_timestamp'], format="%Y-%m-%d")

#### Test

In [ ]:
master_df_clean['timestamp'].dtypes

In [ ]:
master_df_clean['retweeted_status_timestamp'].dtypes

### Removing tweets from after Aug 1st, 2017

#### Define
Filter out rows whose `timestamp` is newer than this date.

#### Code

In [ ]:
master_df_clean = master_df_clean[master_df_clean['timestamp'].dt.date < datetime.date(2017, 8, 1)].reset_index(drop=True)

#### Test

In [ ]:
min(master_df_clean['timestamp'])

In [ ]:
master_df_clean.info()

### Uppercase words and underscores in dog breed names

#### Define
Convert columns `pred_1`, `pred_2` and `pred_3` into lowercase, and remove underscores.

#### Code

In [ ]:
master_df_clean['breed'] = master_df_clean['breed'].str.replace("_", " ").str.lower()

#### Test

In [ ]:
np.sort(master_df_clean['breed'].unique())

### Invalid dog names

#### Define

Names start with capital letter. Let's keep only the rows whose `name` value follows this pattern.

#### Code

In [ ]:
master_df_clean['name'] = master_df_clean['name'].apply(lambda n: "Unknown" if n.islower() else n)

#### Test

In [ ]:
master_df_clean['name'].value_counts()

### Removing unused columns

#### Define

We're focusing our analyses on likes, retweets, breeds, and so on. So we select other columns and drop them from our DataFrame to get cleaner, pristine, straight-to-the-point data.

#### Code

In [ ]:
master_df_clean.drop(columns=[
    'in_reply_to_status_id',
    'in_reply_to_user_id',
    'source',
    'retweeted_status_id',
    'retweeted_status_user_id',
    'retweeted_status_timestamp',
    'expanded_urls',
    'jpg_url',
    'img_num'
], inplace=True)

#### Test

In [ ]:
master_df_clean.info()

### Null values

#### Define
Strings will be filled with `np.nan`.

#### Code

In [ ]:
master_df_clean['stage'] = master_df_clean['stage'].fillna(np.nan)
master_df_clean['name'] = master_df_clean['name'].replace('None', np.nan)

#### Test

In [ ]:
master_df_clean.info()

In [ ]:
master_df_clean.head()

# Storing

In [ ]:
master_df_clean.to_csv('./data/twitter_archive_master.csv', index=False, encoding='utf-8')

# Analysis

### Dog breeds

In [ ]:
breed_data = master_df_clean.groupby('breed').agg({'tweet_id': 'count', 'favorite_count': sum, 'retweet_count': sum}).reset_index().rename(columns={'tweet_id': 'tweet_count'})

#### Most mentioned overall

In [ ]:
top_breed_mentions = breed_data.sort_values(by='tweet_count', ascending=False).head(10)
top_breed_mentions

In [ ]:
plt.figure(figsize=(20, 10))
plt.title("Doggo Stars: The 10 Most Mentioned Breeds Overall")
ax = sns.barplot(data=top_breed_mentions, x='tweet_count', y='breed', color='darkcyan')
ax.set_xlabel("# of Tweets")
ax.set_ylabel("Breeds")
plt.show()

#### Most liked

In [ ]:
most_liked_breeds = breed_data.sort_values(by='favorite_count', ascending=False).head(10)
most_liked_breeds

In [ ]:
plt.figure(figsize=(20, 10))
plt.title("Doggo Favorites: The 10 Most Liked Breeds")
ax = sns.barplot(data=most_liked_breeds, x='favorite_count', y='breed', color='darkorange')
ax.set_xlabel("# of Likes")
ax.set_ylabel("Breeds")
plt.show()

#### Most retweeted

In [ ]:
most_retweeted_breeds = breed_data.sort_values(by='retweet_count', ascending=False).head(10)
most_retweeted_breeds

In [ ]:
plt.figure(figsize=(20, 10))
plt.title("Our Doggo is Famous! The Most Retweeted Breeds")
ax = sns.barplot(data=most_retweeted_breeds, x='retweet_count', y='breed', color='darkcyan')
ax.set_xlabel("# of Retweets")
ax.set_ylabel("Breeds")
plt.show()

### Names

In [ ]:
name_data = master_df_clean.query("name != 'Unknown'")[['name', 'breed']]

#### Most common

In [ ]:
top_names = name_data.groupby('name').count().rename(columns={'breed': 'name_count'})
top_names = top_names.reset_index().sort_values(by='name_count', ascending=False).head(10)
top_names

#### Most common per breed

In [ ]:
top_breeds = top_breed_mentions['breed']

In [ ]:
top_names_per_breed = name_data.query("breed in @top_breeds").groupby('breed').agg(lambda x: x.value_counts().index[0])
top_names_per_breed

### Stages

In [ ]:
stage_data = master_df_clean.query("stage != 'Unknown'").groupby('stage').agg({'tweet_id': 'count', 'favorite_count': sum})
stage_data = stage_data.reset_index().rename(columns={'tweet_id': 'tweet_count'})

#### Tweets per stage

In [ ]:
plt.figure(figsize=(20, 10))
plt.title("Stages of Doggo: Which Stages Showed Up the Most at @WeRateDogs?")
ax = sns.barplot(data=stage_data.sort_values(by='tweet_count', ascending=False), x='tweet_count', y='stage', color='darkcyan')
ax.set_xlabel("# of Tweets")
ax.set_ylabel("Stages")
plt.show()

#### Likes per stage

In [ ]:
plt.figure(figsize=(20, 10))
plt.title("How Do People Like the Doggo Stages?")
ax = sns.barplot(data=stage_data.sort_values(by='favorite_count', ascending=False), x='favorite_count', y='stage', color='darkorange')
ax.set_xlabel("# of Likes")
ax.set_ylabel("Stages")
plt.show()